<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="reset.css">
        <link rel="stylesheet" href="base.css">
        <link rel="stylesheet" href="modules.css">
        <link rel="stylesheet" href="layout.css">
    </head>
    <body>
        <%- include('../../partials/header.ejs'); %>
        <Section>

        <h3>Here Are Your Results</h3>
        <% symbols.forEach( symbol => { %>
            <li class="symbolItem">
              Coin Symbol: <%= symbol.symbol %>
            </li>
            <li class="priceItem">
             Coin Price: <%= symbol.price %>
            </li>
            <li class="priceItem"> 
                The amount you entered would have purchased: <%= symbol.bought %> coins.
            </li>
        <% }) %>
                
        </Section>
        
        <script src="" async defer></script>
    </body>
</html>