<header>
    <h1>CryptoCuriou$</h1> 
    <nav>
        <ul>
             <li><a href="/">Home</a></li> 
             <li>Search</li>  
             <li>Results</li> 
             <li><a href="/about-us">Crypto Crew</a></li>
        </ul>
    </nav>
</header>