<header>
    
    <h1 class="partialsH1">CryptoCuriou$</h1> 
    <nav class="partialsNav">
        <ul>

             <li><a href="/">Home</a></li>   
             <li><a href="/results">Saved Cryptos</a></li> 
             <li><a href="/aboutUs">About Us</a></li>


        </ul>
    </nav>
</header>