<header>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/styles/reset.css">
        <link rel="stylesheet" href="/styles/base.css">
        <link rel="stylesheet" href="/styles/layout.css">
        <link rel="stylesheet" href="/styles/modules.css">
    </head>
    <h1 class="partialsH1">CryptoCuriou$</h1> 
    <nav class="partialsNav">
        <ul>

             <li><a href="/">Home</a></li>   
             <li><a href="/results">Saved Cryptos</a></li> 
             <li><a href="/aboutUs">About Us</a></li>


        </ul>
    </nav>
</header>