<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="reset.css">
        <link rel="stylesheet" href="base.css">
        <link rel="stylesheet" href="modules.css">
        <link rel="stylesheet" href="layout.css">
    </head>
    <body>
        <%- include('partials/header.ejs'); %>

        <h4>If you are not sure of your coins symbol, please refer to Binance.us symbol documentation, many coins are 6-7 characters long, and end in BTC. Example: ETHBTC is Etherum.</h4>


        <form id="checkCrypto" action="/search" method="POST">
            <fieldset> 
                <legend>Search For A Crypto Currency Price</legend>
                <label for="symbol">Enter Coin Ticker Symbol</label>
                <input name="symbol" type="text" required/>
                <label for="usdAmount">How much would you like to "invest"?</label>
                <input name="usdAmount" type="text">
                <button type="submit">Submit</button>
            </fieldset>
        </form>
        
        
        <script src="" async defer></script>
    </body>
</html>