<%- include('../partials/head.ejs'); %>
<link rel="stylesheet" href="/styles/aboutUS.css">

<body>
    <%- include('../partials/header.ejs'); %>

    <div class="centered">
      <section class="cards">
        <article class="card">
          <img src="images/ben2.PNG" alt="Ben" style="width: 100%" /> 
          <h2>Ben Hemann</h2>
            <h4>Skills</h4>
              <p>I graduated in December, 2020 from the University of Iowa with a degree in Social Informatics. My degree gave me a taste of programming, so before I even graduated from Iowa I signed up for DeltaV Code School to learn more. 
              <br>
              DeltaV has taught me a ton in the short 2 months I have been attending, including how to make websites and use APIs. I've been involved in projects that used AWS for a geo-Location attendance tracker and a card flipping memory game. 
              <br>
              My goal upon completion of DeltaV is to get a job in the Cedar Rapids, Iowa area that involves programming. I hope to work on projects that affect a great many people and make peoples lives easier in some way. </p> 
        </article><!--card-one-->
       

      <article class="class="card">
          <img src="images/dan.jpg" alt="Daniel" style="width: 100%" />
            <h2>Daniel Rogahn</h2>
            <h4>Skills</h4>
              <p>My name is Daniel Rogahn. I've been coding as a hobby ever since I was 13 when my Dad brought home a TRS-80 from a garage sale that ran BASIC. Over the years I've also picked up C++, C#, and Python3 just as a hobby.
              <br>
              I have an associate's degree in Early Childhood education at Kirkwood CCU. I also have a fifteen year old son and a dog named Honey. I enjoy making music and playing online roleplaying games.
              </p>
          
      </article><!--card-two-->    

      <article class="card">
        <img src="images/jean.jpg" alt="Jean" style="width: 100%" />
          <h2>Jean McMahon</h2>
          <h4>Skills</h4>
            <p>My name is Jean McMahon. I have moved back to Iowa after working several years on the East Coast as a personal or executive assistant to CEOs and presidents of nonprofits, Fortune 100 companies as well as high level of government officials.
            <br>  
            Since learning new software programs and technologies has always been aparticularly enjoyable part of my previous roles, I have decided to explore a new career path in software development.<br>
            Having grown up on a farm with 13 siblings I am not afraid of hard work, team work or the fact that coding, like life, is full of challenges and surprises.   
            </p>
      </article><!--card-three--> 
    </div> 

  

</body>
</html>