* {
    box-sizing: border-box;
  }
  
body{
    background-image: url("../../images/cryptoCode.jpg");
    background-size: 100%;
}

h2{
  font-family: ;
}
img{
    /* height: 300px;
    width: 300px; */
    border-radius: 50%;
}


/* Style the counter cards */

.cards {
    display: flex;
    justify-content: space-between;
    justify-items: auto;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
 }


.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */

  padding: 70px;

  text-align: center;
}

/* Responsive columns - one column layout (vertical) on small screens */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}
