
.field {
    width:100%;
    display: inline-flex;
    border: 1px solid green;
}
.form1 input {
    width:30%;
    align-self: right;
    justify-self:right;
    margin-right:5px;
}
.form1 label {
    margin-left: 5px auto;
    margin-right: 10px;
}
#index-submit{
    margin-left: 50% ;
    margin-left:50%;
    font-family: "Share Tech Mono", monospace;
}
.result {
    margin-top:10px;
    margin-bottom:10px;
    margin:20px;
    margin-left:10%;
    width:70%;
    background-color:rgba(53, 19, 19, 0.5);
}
#result-ul{
    margin-left:20px;
    width:70%;
    background-image:url('../images/blockchain-3448529__340.webp');
}


.bankForm{
    text-align: center;
}
.report{
    background-color: rgb(128, 128, 223);
    color:brown;
    margin: 5px;
    
}

button a{
    text-decoration: none;
}

.details li{
    font-size: 35px;
}